@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 4em;
}

h1>span {
    color: lightblue;
    text-decoration: underline;
    line-height: 100px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideLeft {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}


.sideRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px
}

.intro>p>a {
    background-color: #facd57;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 2px 8px;
}

.summary {
    padding: 20px;
    font-family: 'urbanist';
    font-size: 1.2em;
    line-height: 30px;
}

.introButtons {
    width: 100%;
}

.button {
    outline: 0;
    border: 0;
    margin: 20px 20px 20px 0;
    cursor: pointer;
    font-weight: 550;
    color: rgb(72, 76, 122);
    font-size: 14px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #fff, #f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}

.button:hover {
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);

}

.profile {
    text-decoration: underline;
    color: lightcoral;
}

.onetainer {
    height: 100vh;
    padding-top: calc(20% - 250px);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-box {
    width: calc(30% - 20px);
    max-width: 300px;
    height: 300px;
    margin: 15px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 10px 8px 0px rgb(191 219 254);
    cursor: pointer;
}

.status {
    color: white;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Urbanist';
    font-weight: 500;
    font-size: x-large;
}

.correct-answer {
    background-color: #60A5FA;
    transition: all .2s ease-out;
}

.wrong-answer {
    background-color: #f86e7e;
    transition: all .2s ease-out;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.question-score-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-row h3 {
    font-size: 2em;
    font-family: 'Urbanist';
    margin: 20px;
    padding: 10px 10px;
}

.score-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.score-above,
.score-below {
    display: flex;
    flex-direction: row-reverse;
}

.score-item {
    margin: 0 20px;
    padding: 20px;
}

.score-item .btn {
    font-family: 'Urbanist';
    cursor: pointer;
    color: #fff;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #7c8aff, #3c4fe0);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}

.score-item .current,
.score-item .attempt {
    font-family: 'Urbanist';
    border-radius: 6px;
    color: #fff;
    padding: 10px;
    font-weight: 500;
}

.score-item .current {
    background-color: #1f6feb;
}

.score-item .attempt {
    background-color: #f86e7e;
}


@media (max-width: 1334px) {
    .image-box {
        height: 230px;
        width: calc(40% - 10px);
        margin: 10px;
        padding: 10px;
        box-shadow: 5px 5px 0px rgb(191 219 254);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #previewImg {
        width: 80%;
        position: absolute;
        top: calc(10% + 30px);
    }

    h1 {
        font-size: 2em;
    }

    .summary {
        font-size: 1em;
        padding: 10px;
    }

    .sideRight {
        flex: 3;
        padding:
    }

    .question-row h3 {
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    .score-row {
        flex-wrap: nowrap;
    }

    .status {
        margin-top: -15px;
    }

    .score-item {
        padding: 10px;
    }
}
